@model Speaker
@{
    var bioID = "bio-" + Model.UniqueId();
    var imageUrl = Model.ImageUrl;
    if (string.IsNullOrEmpty(imageUrl))
    {
        imageUrl = "~/images/gravatar.png";
    }
}


<a href="#" data-toggle="modal" data-target="#@bioID">@Model.Name</a> <br />
<div class="modal fade @bioID" tabindex="-1" role="dialog"
     aria-labelledby="@bioID" aria-hidden="true" id="@bioID">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                <h4 class="modal-title">@Model.Name</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4"><img src="@imageUrl" style="width:100%;" /></div>
                    <div class="col-md-8">@Model.Description</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
