@model Social
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>Contact Us</h1>
            <p>Feel free to stay connected with us!</p>
            <ul class="list-inline banner-social-buttons">
                @if (!String.IsNullOrEmpty(Model.Website))
                {
                    <li>
                        <a href="@Model.Website" class="btn btn-default btn-lg"><i class="fa fa-group fa-fw"></i> <span class="network-name">Web</span></a>
                    </li>
                }
                @if (!String.IsNullOrEmpty(Model.Meetup))
                {
                    <li>
                        <a href="@Model.Meetup" class="btn btn-default btn-lg"><i class="fa fa-group fa-fw"></i> <span class="network-name">Meetup</span></a>
                    </li>
                }
                @if (!String.IsNullOrEmpty(Model.Facebook))
                {
                    <li>
                        <a href="@Model.Facebook" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                }
                @if (!String.IsNullOrEmpty(Model.Twitter))
                {
                    <li>
                        <a href="@Model.Twitter" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                }
                @if (!String.IsNullOrEmpty(Model.Google))
                {
                    <li>
                        <a href="@Model.Google" class="btn btn-default btn-lg"><i class="fa fa-google fa-fw"></i> <span class="network-name">Google</span></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>